@import url('https://fonts.googleapis.com/css?family=Roboto');

.combo-box.trip-filters .list-cell {
    -fx-padding: 2px 2px;
}

.combo-box.trip-filters .list-cell,
.text-field.trip-filters,
.combo-box.trip-filters,
.jfx-date-picker > .text-field,
.jfx-time-picker > .text-field {
    -fx-prompt-text-fill: rgba(255,255,255,0.4);
    -fx-text-fill: #ffffff;
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
}

.combo-box.trip-filters .list-view .list-cell {
    -fx-text-fill: #222;
}

.combo-box.trip-filters .list-view .list-cell:selected {
    -fx-background-color: none;
}

.combo-box.trip-filters .list-view .list-cell:hover {
    -fx-background-color: #757de8;
}

/* JFoenix controls styling */
.jfx-text-field.trip-filters,
.jfx-combo-box.trip-filters,
.jfx-date-picker > .jfx-text-field,
.jfx-time-picker > .jfx-text-field {
    -jfx-focus-color: #ffffff;
    -jfx-unfocus-color: #ffffff;
}

.toggle-button.trip-filters {
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-radius: 21px 21px 21px 21px;
}

.toggle-button:selected.trip-filters {
    -fx-background-color: #002984;
}

.jfx-button.fab {
    -fx-background-radius: 23px 23px 23px 23px;
    -fx-background-color: #002984;
    -fx-padding: 9px 8px 9px 10px;
}

.date-picker > .arrow-button > .arrow,
.jfx-time-picker > .arrow-button > .arrow {
    -fx-padding: 0;
}